* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;

  padding: 0;

  font-family:
    Arial,
    Helvetica,
    sans-serif;

  background: #fff8f3;

  color: #222;
}


button,
input,
textarea {
  font-family: inherit;
}


button {
  cursor: pointer;
} 